ESLINT_NO_DEV_ERRORS=true
NEXT_PUBLIC_GRAPHCMS_ENDPOINT='https://api-ap-south-1.hygraph.com/v2/cl7s1otek6yu601uh8gp8heph/master'
GRAPHCMS_TOKEN='Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik1qYzFORUUzTUVaQk9EZzBNVGsyT1RVME1VTTRSa1ZEUkRRNFFVRkJOVVpHUmtaRk0wWkNRZyJ9.eyJodHRwczovL2dyYXBoY21zLmNvbS9sb2dpbnNDb3VudCI6MSwiaHR0cHM6Ly9ncmFwaGNtcy5jb20vZmxhZ3MiOnt9LCJpc3MiOiJodHRwczovL2F1dGguZ3JhcGhjbXMuY29tLyIsInN1YiI6Imdvb2dsZS1vYXV0aDJ8MTA0NDY5MzQ0MzA0MzUzODcyMDE4IiwiYXVkIjoiOFZXU2R5VWh0WlQ0M25BaXByMmZqS1JoakptcDhzWXkiLCJpYXQiOjE2NjI1ODA2MTYsImV4cCI6MTY2MzE4NTQxNiwic2lkIjoiNG52eXhzN3E5aXFSbktvRENpUXV1cEQwTU81UFRDeG4iLCJub25jZSI6IkN1ZXNWT35xNko1cExjNUk0Ri14YUlyU2xEVVZDZDhvIn0.T8ynf2OVa_5SBFWzQBpKeatrBUkjCem9vWgL7n-VMXCF3dG4EKKtiYslylfyfhT6D6EehraGiprfD0mevOPfWP0eZAKOwlj0zTFtww80HMkalJVgKNYnhF7eDvD4cBwVlX59fEziMtu7CIH_RhloNk1U3xOlCq-1fZ4xNn6z90yAXcHJNvG0op3RsXKz3ayul1QoMA_6oQtTe_opUAqk_7Ej0_wd7oTTJ700-9mothhe4WJvEbgnbK9fxpoJqYcPUwniEVgH32v5MVwmN4ormEjmyq5aRVLhfBDm7lFIpmrZTlcqAEbc-lFhD9JlQlCUStwTkjA45CcZTRQL1wReoQ'
  